<extend name="Public/base"/>
<block name='title'>
	<title>订单列表</title>
</block>

<block name='main'>
<div>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 订单管理 <span class="c-gray en">&gt;</span> 订单详情表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新当前页" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-sort">
				<thead>
					<tr>
						<td colspan="2">订单号:{$order['order_num']}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="50%">
							<ul><h5>收货人信息</h5>
								<li>收货人：{$useraddress['linkman']}</li>
								<li>联系方式：{$useraddress['tel']}</li>
								<li>收货地址：{$useraddress['private']} {$useraddress['city']} {$useraddress['area']} {$useraddress['road']}</li>
							</ul>
						</td>

						<td width="50%">
							<h5>订单结算信息</h5>
							<ul>
								<li>商品总金额：¥{$order['total']}</li>
								<li>+商品运费：¥0</li>
								<li>订单支付金额：¥{$order['total']}</li>
								<li>还需支付金额：¥{$order['total']}</li>
							</ul>
						</td>
					</tr>

					<tr>
						<td colspan="3">
							<table class="table table-border table-bordered table-bg table-hover table-sort">
								<tr>
									<th>商品</th>
									<th>数量</th>
									<th>价格</th>
									<th>操作</th>
								</tr>
							<foreach name="goodsdetail" item="v">
								<tr>
									<td>{$v['gname']}</td>
									<td>{$v['buynum']}</td>
									<td>{$v['gprice']}</td>
									<td>
										<a href="">删除</a>
									</td>
								</tr>
							</foreach>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<if condition="$order['orderstatus'] == 1 ">
				<center><a href="{:U('Order/changeStatus',['oid'=>$order['id']])}"><button>确认发货</button></a></center>
			</if>
		</div>
</block>


