<extend name="Public/base"/>
<block name='title'>
	<title>订单列表</title>
</block>

<block name='main'>
<div>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 商品评论列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="pd-20">
		<div class="text-c"> 
			<form action="{:U('OrderComment/index')}" method="get">
			<input type="text" name="word" id="" placeholder=" 商品名称 / 订单号" style="width:250px;height=50px" class="input-text" value="{$Think.get.search}">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜评论</button>
			</form>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <button class="btn btn-primary radius">商品评论</button></span></div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th>订单号</th>
						<th>评论时间</th>
						<th>商品</th>
						<th>满意度</th>
						<th>评价</th>
						<th>买家</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				<foreach name='data' item='vo'>
					<tr class="text-c va-m">
						<td>{$vo.order_num}</td>
						<td>{$vo.addtime}</td>
						<td>{$vo.gid}</td>
						<td>{$vo.star}</td>
						<td>
							<div class="current" onmouseover="over(this)">查看详情</div>

							<div style="display:none" class="replay">
								<!-- <input type="button" value="回复" onclick="showtext(this)"> -->
								<a href="javascript:;" onclick="replay('回复用户','{:U('OrderComment/replay', ['id'=>$vo['id']])}','800','500')" >回复用户</a>
							</div>

							
						</td>
						<td>{$vo.sayid}</td>
						<td></td>
					</tr>
				</foreach>
					<tr class="text-c va-m" id="tr-bianli">
						<td colspan="2" class="td-manage">
							<a style="text-decoration:none" href="javascript:void(0)">{$totalRows}条记录{$Think.get.p|default=1}/{$totalPages}页</a>
					
						</td>
						<td colspan="6" class="td-manage">{$btn}</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>
	</block>

	</div>

	<!-- 分页 -->
			<div class="pagination" style="text-align:center">
				<ul>
					<li>
						<a href="javascript:void(0)">{$totalRows} 条记录 {$Think.get.p|default=1}/{$totalPages} 页</a>
					</li>
					{$btn}
				</ul>
			</div>
		<script>
			$('.pagination a').unwrap('div').wrap('<li></li>');
			$('.pagination span').wrap('<li class="active"></li>');
		</script>
</block>

<block name="script">
	<script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script> 
	<script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script>  

	<script>

    //选中全部订单
    $('.chooseAll').click(function(){
        $('input:checkbox').attr('checked', true);
    });

	function over(obj){
		$(obj).next().toggle();
	}

	function replay(title,url,w,h){
		layer_show(title,url,w,h);
	}
	</script>

</block>