<extend name="Public/base" />

<block name="style">
<link href="__PUBLIC__/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />

</block>

<block name="title">
<title>添加管理员</title>
</block>



<body>

<block name="main">
<div class="pd-20">
	
	<form action="" method="post" class="form form-horizontal"  >
		
		<input type="hidden" name="id" value="{$adminInfo['id']}">
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" datatype="*2-16" name="name" id="adminName" fir="{$adminInfo['name']}" value="{$adminInfo['name']}">
			</div>
			<div class="col-4 c-red" id="msg"></div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-5">
				<input type="password"  placeholder="" class="input-text" datatype="*2-16"  id="oldpass">
			</div>
			<div class="col-4 c-red" id="paMsg"> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-5">
				<input type="password" name="password" placeholder="密码4~16位" class="input-text" datatype="*2-16" id="pass">
			</div>
			<div class="col-4"> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-5">
				<input type="password" class="input-text" datatype="*2-16" id="passed" >
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>角色：</label>
			<div class="formControls col-5"> <span class="select-box" style="width:150px;">
				<select class="select" name="rid" size="1" id="role">
					
					<if condition="$adminInfo.rid eq 0">

					
					<option value="0">超级管理员</option>


					<else/>
					<foreach name="roleInfo" item="v">
					
					<option value="{$v.role_id}"
						<eq name="v.role_id" value="$adminInfo.rid">
							selected
						</eq>
							
					>{$v.role_name}</option>
					</foreach>

					</if>
				</select>
				</span> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>电话号码：</label>
			<div class="formControls col-5">
				<input type="text" name="phone" class="input-text" datatype="*2-16" id="phone" value="{$adminInfo['phone']}">
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-5">
				<input type="text" name="email" class="input-text" datatype="*2-16" id="email" value="{$adminInfo['email']}" >
			</div>
			<div class="col-4"> </div>
		</div>
		
		
	</form>
		<div class="row cl" style="margin-top:10px">
			<div class="col-9 col-offset-3">
				<button class="btn btn-primary radius" id="admin-role-save" onclick="check()">
					<i class="icon-ok"></i> 确定
				</button>
			</div>
		</div>
</div>

</block>

<block name="footer">
</block>

</body>
</html>

<block name="script">

<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script> 
<script type="text/javascript">

$(function(){
	var oldName = $('#adminName').attr('fir');
	$('#adminName').blur(function(){

		var name = $(this).val();
		if(name===oldName){

			$('#msg').html('');

		} else {

			$.get('{:U('Admin/checkAdminName')}', 'name='+name,function(res){
				if(res){
					
					// layer.msg(name+'用户名已存在',{icon:8,time:1000});
					$('#msg').html('*该用户名已存在');
				} else {

					$('#msg').html('');
				}
			});
		}
	});

	$('#oldpass').blur(function(){

		var oldpass = $(this).val();
		var id = $('input:hidden').val();

		if(oldpass===''){

			$('#paMsg').html('');
		} else {

			$.get('{:U('Admin/checkOldpass')}', 'pass='+oldpass+'&id='+id,function(res){
				
				// alert(res);
				if(res){
					
					// layer.msg(name+'用户名已存在',{icon:8,time:1000});
					
					$('#paMsg').html('');
				} else {

					$('#paMsg').html('*旧密码错误');
				}
			});

			
		}
		
	});


});



// function test()
// {

// 	layer.msg('已删除!',{icon:1,time:1000});
// 	setTimeout(function(){


// 		parent.location.reload();

// 	},1000);
	

// }

function check(){

	// alert(vlidata());
	
	if(vlidata()){

		var data = $('form').serialize();
		$.post("{:U('Admin/adminEdit')}", data , function(res){

			if(res){
				layer.msg('修改成功',{icon:1,time:2000});
				setTimeout(function(){

					parent.location.reload();
				},1000);
				

			}


		});

	} 

}


function vlidata(){
	var inputs = document.getElementsByTagName('input');
	
	for(var i=0;i<inputs.length;i++){
		var val = inputs[i].value;
		if(val == ''){
			layer.msg('请完善您的信息',{icon:8,time:1000});
			// alert('请完善您的信息');
			return false;
		}
	}
	
	var adminName = document.getElementById('adminName').value;
	var pass = document.getElementById('pass').value;
	var passed = document.getElementById('passed').value;
	var email = document.getElementById('email').value;
	var phone = document.getElementById('phone').value;
	var role = document.getElementById('role').value;

	var a = $('#msg').html();
	if(a!==''){
		layer.msg('用户名已存在',{icon:8,time:1000});
		return false;

	} 

	var b = $('#oldpass').html();
	if(b!==''){
		layer.msg('旧密码错误',{icon:8,time:1000});
		return false;

	} 

	if(pass.length < 4){
		// alert('密码不够长');
		layer.msg('新密码不够长',{icon:8,time:1000});
		return false;
	}

	if(pass != passed){
		layer.msg('两次密码不一致',{icon:8,time:1000});
		// alert('两次密码不一致');
		return false;
	}

	var usernameReg = /^[0-9a-zA-Z]+$/;
	var emailReg = /^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$/;
	var phoneReg = /^[1][3,4,5,7,8][0-9]{9}$/;

	if(!usernameReg.test(adminName)){
		layer.msg('您的用户名格式不合法',{icon:8,time:1000});
		// alert('您的用户名格式不合法');
		return false;
	}
	if(!emailReg.test(email)){
		layer.msg('您的邮箱格式不正确',{icon:8,time:1000});
		// alert('您的邮箱格式不正确');
		return false;
	}
	if(!phoneReg.test(phone)){
		layer.msg('您的手机号码格式不正确',{icon:8,time:1000});
		// alert('您的手机号码格式不正确');
		return false;
	}

	//是否选择角色
	if(role===''){	

		layer.msg('请选择角色',{icon:8,time:1000});
		return false;
	}




	return true;
}
</script>

</block>
